VITE_FRONTEND_PORT='frontend_port_here'
VITE_BACKEND_PORT='backend_port_here'
VITE_FRONTEND_URL='frontend_url_here'
VITE_BACKEND_URL='backend_url_here'
DB_HOST="db_host_here"
DB_PORT='db_port_here'
DB_NAME="db_name_here"
DB_USER="db_user_here"
DB_PASSWORD="password_here"